:root {
  --gap: 16px;
  --black-500: #121212;
  --gray-400: #818181;
  --gray-300: #D8D8D8;
  --gray-200: #DFDFDF;
  --gray-100: #F9F9F9;
  --white: #ffffff;
  --blue-600: #1292DF;
  --blue-500: #109CF1;
  --blue-300: #1AA7FD;
  --yellow-100: #FCF3C5;
  --green-100: #DDFCC5;
  --green-200: #47AB16;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--gap);
}

body {
  background-color: var(--gray-100);
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  min-height: inherit;
  padding-top: 100px;
}

html,
body {
  font-family: Arial, sans-serif;

}

.form {
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: .25rem;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-label {
  padding-bottom: .5rem;
  font-size: .875rem;
  line-height: 1rem;
}

.form-input {
  height: 40px;
}

.form__heading {
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  padding-bottom: 1.5rem;
  color: var(--black-500);
}

.form-validation {
  display: flex;
  background-color: var(--yellow-100);
  margin-top: .5rem;
  padding: .5rem 1rem;
  font-size: .875rem;
}

.form__validation--success {
  display: none;
  background-color: var(--green-100);
  color: var(--green-200);
  margin-top: .5rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  font-size: .875rem;
}

.btn {
  width: 100%;
  height: 40px;
  border-radius: .25rem;
  border-width: 1px;
  border-style: solid;
  font-size: 1rem;
  opacity: 1;
  transition: background-color .2s ease-out, border-color .2s ease-out, opacity .2s ease-out;
}

.btn-primary {
  background-color: var(--blue-500);
  border-color: var(--blue-500);
  color: var(--white);
}

.btn:hover {
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--blue-300);
  border-color: var(--blue-300);
}

.btn-primary:active {
  background-color: var(--blue-600);
  border-color: var(--blue-600);
}

.btn-primary:disabled {
  background-color: var(--blue-600);
  border-color: var(--blue-600);
  opacity: .54;
}

.input {
  border-color: var(--gray-200);
  padding: .5rem 1rem;
  border-radius: .25rem;
  border-width: 1px;
  border-style: solid;
  outline: none;
  color: var(--black-500);
  transition: border-color .2s ease-out;
}

input::placeholder {
  color: var(--gray-400);
}

.input:focus {
  border-color: var(--blue-500);
}
